
<div class="page-header">
  <h3>Edit Holes</h3>

   <a href="/rounds/<%= @hole.round_id %>">Back to Round</a>
</div>


<% @holes.each do |hole| %>

<!-- Validation failure messages -->
<% if @hole.errors.any? %>
  <% @hole.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="row">
  <div class="col-md-12">
    <form action="/update_hole/<%= hole.id %>" method="post">

      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">


    #<%= hole.number %>

      <!-- Label and input for round_id -->
            <input type="hidden" name="round_id" value="<%= hole.round_id %>">

      <!-- Label and input for par -->
        <input type="text" size="10" id="par" name="par" placeholder="Par" value="<%= hole.par %>">


      <!-- Label and input for number -->
         <input type="hidden" name="number" value="<%= hole.number %>">


      <!-- Label and input for p1_score -->
        <input type="text" size="10" id="p1_score" name="p1_score" placeholder="<%=hole.round.player_1%>'s score" value="<%= hole.p1_score %>">

      <!-- Label and input for p2_score -->
       <input type="text" size="10" id="p2_score" name="p2_score" placeholder="<%=hole.round.player_2%>'s score" value="<%= hole.p2_score %>">

      <!-- Label and input for p3_score -->
        <input type="text" size="10" id="p3_score" name="p3_score" placeholder="<%=hole.round.player_3%>'s score" value="<%= hole.p3_score %>">

      <!-- Label and input for p4_score -->
        <input type="text" size="10" id="p4_score" name="p4_score" placeholder="<%=hole.round.player_4%>'s score" value="<%= hole.p4_score %>">



      <!-- Label and input for ctp_player -->
<select name="hole[ctp_player]">
  <option value="">Prox</option>
  <option value="<%=hole.round.player_1%>"><%=hole.round.player_1%></option>
  <option value="<%=hole.round.player_2%>"><%=hole.round.player_2%></option>
  <option value="<%=hole.round.player_3%>"><%=hole.round.player_3%></option>
  <option value="<%=hole.round.player_4%>"><%=hole.round.player_4%></option>
</select>



      <!-- Label and input for roll -->
      <div class="checkbox">
        <label for="roll">
          <input type="checkbox" id="roll" name="roll" value="1" <%= "checked" if hole.roll %>>
          Roll
        </label>
     </div>

      <button class="btn btn-warning">
        Update Hole
      </button>
      or
      <a href="/rounds/<%= @hole.round_id %>">Cancel</a>
    </form>

 <% end%>

  </div>
</div>
