<div class="page-header">
  <h1>
    Holes
    <a href="/holes/new" class="btn btn-lg btn-success">New Hole</a>
  </h1>
</div>



<%=@t1h1_biride%>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Round</th>
        <th>hole ID</th>
        <th>Number</th>
        <th>Par</th>
        <th>P1 score</th>
        <th>P2 score</th>
        <th>P3 score</th>
        <th>P4 score</th>
        <th>Roll</th>
        <th>Ctp player</th>
        <th>Actions</th>
      </tr>

      <% @holes.each do |hole| %>
      <tr>
        <td><%= hole.round_id %></td>
        <td><%= hole.id %></td>
        <td><%= hole.number %></td>
        <td><%= hole.par %></td>
        <td><%= hole.p1_score %></td>
        <td><%= hole.p2_score %></td>
        <td><%= hole.p3_score %></td>
        <td><%= hole.p4_score %></td>
        <td><%= hole.roll %></td>
        <td><%= hole.ctp_player %></td>
        <td>
          <a href="/holes/<%= hole.id %>" class="btn btn-primary">Show</a>
          <a href="/holes/<%= hole.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_hole/<%= hole.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
