<!-- Validation failure messages -->
<% if @hole.errors.any? %>
  <% @hole.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Hole</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_hole" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for round_id -->
      <div class="form-group">
        <label for="round_id" class="control-label">
          Round
        </label>
        <input type="text" id="round_id" name="round_id" placeholder="Round" class="form-control" value="<%= @hole.round_id %>">
      </div>


     <!-- Label and input for number -->
      <div class="form-group">
        <label for="number" class="control-label">
          Number
        </label>
        <input type="text" id="number" name="number" placeholder="Number" class="form-control" value="<%= @hole.number %>">
      </div>


      <!-- Label and input for par -->
      <div class="form-group">
        <label for="par" class="control-label">
          Par
        </label>
        <input type="text" id="par" name="par" placeholder="Par" class="form-control" value="<%= @hole.par %>">
      </div>

      <!-- Label and input for p1_score -->
      <div class="form-group">
        <label for="p1_score" class="control-label">
          P1 score
        </label>
        <input type="text" id="p1_score" name="p1_score" placeholder="P1 score" class="form-control" value="<%= @hole.p1_score %>">
      </div>


      <!-- Label and input for p2_score -->
      <div class="form-group">
        <label for="p2_score" class="control-label">
          P2 score
        </label>
        <input type="text" id="p2_score" name="p2_score" placeholder="P2 score" class="form-control" value="<%= @hole.p2_score %>">
      </div>

      <!-- Label and input for p3_score -->
      <div class="form-group">
        <label for="p3_score" class="control-label">
          P3 score
        </label>
        <input type="text" id="p3_score" name="p3_score" placeholder="P3 score" class="form-control" value="<%= @hole.p3_score %>">
      </div>


      <!-- Label and input for p4_score -->
      <div class="form-group">
        <label for="p4_score" class="control-label">
          P4 score
        </label>
        <input type="text" id="p4_score" name="p4_score" placeholder="P4 score" class="form-control" value="<%= @hole.p4_score %>">
      </div>

      <!-- Label and input for ctp_player -->
      <div class="form-group">
        <label for="ctp_player" class="control-label">
          Ctp player
        </label>
        <input type="text" id="ctp_player" name="ctp_player" placeholder="Ctp player" class="form-control" value="<%= @hole.ctp_player %>">
      </div>

      <!-- Label and input for roll -->
      <div class="checkbox">
        <label for="roll">
          <input type="checkbox" id="roll" name="roll" value="1" <%= "checked" if @hole.roll %>>
          Roll
        </label>
      </div>





      <button class="btn btn-success">
        Create Hole
      </button>
      or
      <a href="/holes">Cancel</a>
    </form>
  </div>
</div>
