<div class="page-header">
  <h2>Match Score
    </h2>
  <h3><%= @round.course_name %>, <%= @round.played_on %></h3>
    </div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">

    <table>
      <tr>
      <th>Player</th>
      <th>Front</th>
      <th>Back</th>
      <th>Total</th>
      <th>Rel Par</th>

      </tr>


      <tr>
      <td><%= @round.player_1 %></td>
      <td>front 9 score</td>
      <td>back 9 score</td>
      <td>Total</td>
      </tr>

      <tr>
      <td><%= @round.player_2 %></td>
      <td>front 9 score</td>
      <td>back 9 score</td>
      <td>Total</td>
      </tr>

      <tr>
      <td><%= @round.player_3 %></td>
      <td>front 9 score</td>
      <td>back 9 score</td>
      <td>Total</td>
      </tr>

      <tr>
      <td><%= @round.player_4 %></td>
      <td>front 9 score</td>
      <td>back 9 score</td>
      <td>Total</td>
      </tr>
      </table>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/rounds/<%= @round.id %>/edit" class="btn btn-success">
        Holes
      </a>
      </div>

  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
<!--         <th>Round</th>
        <th>Hole ID</th> -->
        <th>Number</th>
        <th><a href="/rounds/<%= @round.id %>/edit" class="btn btn-danger">
        Par
      </a></th>
        <th><%= @round.player_1%></th>
        <th><%= @round.player_2%></th>
        <th><%= @round.player_3%></th>
        <th><%= @round.player_4%></th>
        <th>Roll</th>
        <th>Prox</th>
        <th>Actions</th>
      </tr>



      <% @round.holes.each do |hole| %>
      <tr>
<!--         <td><%= hole.round_id %></td>
        <td><%= hole.id %></td> -->
        <td><%= hole.number %></td>
        <td><%= hole.par %></td>
        <td><%= hole.p1_score %></td>
        <td><%= hole.p2_score %></td>
        <td><%= hole.p3_score %></td>
        <td><%= hole.p4_score %></td>
        <td><%= hole.roll %></td>
        <td><%= hole.ctp_player %></td>
        <td>

          <a href="/holes/<%= hole.id %>/edit" class="btn btn-primary">Edit</a>

        </td>
      </tr>
      <% end %>

    </table>
  </div>
</div>

