<div class="page-header">
  <h2>

  <%= @standing %>

    </h2>
  <h5><%= @round.course_name %>, <%= @round.played_on %></h5>
    </div>

<h3>Scores</h3>
<div class="row">
  <div class="col-md-12">
   <table class="table table-striped table-hover">

      <tr>
      <th>Player</th>
      <th>Front</th>
      <th>Back</th>
      <th>Total</th>

      </tr>

      <tr>
      <th>Par</th>
      <th><%=@front9_par%></th>
      <th><%=@back9_par%></th>
      <th><%=@course_par%></th>
      </tr>


      <tr>
      <td><%= @round.player_1 %></td>
      <td><%=@p1_front%></td>
      <td><%=@p1_back%></td>
      <td><%=@p1_total%></td>


      <tr>
      <td><%= @round.player_2 %></td>
      <td><%=@p2_front%></td>
      <td><%=@p2_back%></td>
      <td><%=@p2_total%></td>


      </tr>

      <tr>
      <td><%= @round.player_3 %></td>
      <td><%=@p3_front%></td>
      <td><%=@p3_back%></td>
      <td><%=@p3_total%></td>

      </tr>

      <tr>
      <td><%= @round.player_4 %></td>
      <td><%=@p4_front%></td>
      <td><%=@p4_back%></td>
      <td><%=@p4_total%></td>

      </tr>

  </div>
  </div>
 </table>



   <div class="btn-group btn-group-justified">

    <% if @round.user_id == current_user.id  %>
      <a href="/rounds/<%= @round.id %>/edit" class="btn btn-success">
        Edit Match Set Up
      </a>
       <% else %>
       <% end %>
      </div>
     <!--   <div class="btn-group btn-group-justified">
        <a href="/holes/<%= @round.holes.find_by(:number=>1).id%>/edit" class="btn btn-warning">
        Edit Scores
      </a>
      </div> -->



<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Hole</th>
        <th>Par</th>
        <th><%= @round.player_1%></th>
        <th><%= @round.player_2%></th>
        <th><%= @round.player_3%></th>
        <th><%= @round.player_4%></th>
        <th>Low Team</th>
        <th>Low Man</th>
        <th>Prox</th>
        <th>Roll</th>
        <th>Total Points</th>
        <th>Action</th>
        <th></th>
      </tr>
   <tr>

          <form action="/update_hole/<%= @round.holes.find_by(:number => 1).id %>" method="post">

      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">


         <td><input type="hidden" name="number" value="<%= @round.holes.find_by(:number => 1).number %>">
         1</td>
         <input type="hidden" name="round_id" value="<%= @round.holes.find_by(:number => 1).round_id %>">

        <td><%= select_tag :par, options_for_select(["3", "4", "5"], @round.holes.find_by(:number=>1).par) %></td>
        <td><%= select_tag :p1_score, options_for_select(["0","1","2","3","4","5","6","7","8","9"], @round.holes.find_by(:number=>1).p1_score) %></td>
        <td><%= select_tag :p2_score, options_for_select(["0","1","2","3","4","5","6","7","8","9"], @round.holes.find_by(:number=>1).p2_score) %></td>
        <td><%= select_tag :p3_score, options_for_select(["0","1","2","3","4","5","6","7","8","9"], @round.holes.find_by(:number=>1).p3_score) %></td>
        <td><%= select_tag :p4_score, options_for_select(["0","1","2","3","4","5","6","7","8","9"], @round.holes.find_by(:number=>1).p4_score) %></td>
        <td><%=@hole1_team%> </td>
        <td><%=@hole1_man%></td>
            <td>
      <%= select_tag :ctp_player, options_for_select(["", @round.player_1, @round.player_2, @round.player_3, @round.player_4], @round.holes.find_by(:number=>1).ctp_player) %>
        </td>
        <td><div class="checkbox">
        <label for="roll">
          <input type="checkbox" id="roll" name="roll" value="1" <%= "checked" if @round.holes.find_by(:number => 1).roll %>>
        </label>
     </div>
      </td>
        <td><%=@hole1_points%></td>
        <td>
              <button class="btn btn-primary">
              Update Hole
              </button>
     </form>
     <td>
     <% if @umbrella1==true%>
     <i class="fa fa-umbrella fa-3x"></i>
     <% else %>
      <% end %>

     </td>
      </tr>

   <tr>


        <form action="/update_hole/<%= @round.holes.find_by(:number => 2).id %>" method="post">

        <!-- Hidden input for authenticity token to protect from forgery -->
        <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

         <td><input type="hidden" name="number" value="<%= @round.holes.find_by(:number => 2).number %>">
         2</td>
         <input type="hidden" name="round_id" value="<%= @round.holes.find_by(:number => 2).round_id %>">
         <td><%= select_tag :par, options_for_select(["3", "4", "5"], @round.holes.find_by(:number=>2).par) %></td>
        <td><%= select_tag :p1_score, options_for_select(["0","1","2","3","4","5","6","7","8","9"], @round.holes.find_by(:number=>2).p1_score) %></td>
        <td><%= select_tag :p2_score, options_for_select(["0","1","2","3","4","5","6","7","8","9"], @round.holes.find_by(:number=>2).p2_score) %></td>
        <td><%= select_tag :p3_score, options_for_select(["0","1","2","3","4","5","6","7","8","9"], @round.holes.find_by(:number=>2).p3_score) %></td>
        <td><%= select_tag :p4_score, options_for_select(["0","1","2","3","4","5","6","7","8","9"], @round.holes.find_by(:number=>2).p4_score) %></td>
        <td><%=@hole2_team%></td>
        <td><%=@hole2_man%></td>
        <td>
      <%= select_tag :ctp_player, options_for_select(["", @round.player_1, @round.player_2, @round.player_3, @round.player_4], @round.holes.find_by(:number=>2).ctp_player) %>
        </td>
        <td><div class="checkbox">
        <label for="roll">
          <input type="checkbox" id="roll" name="roll" value="1" <%= "checked" if @round.holes.find_by(:number => 2).roll %>>
        </label>
     </div>
      </td>
        <td><%=@hole2_points%></td>
        <td>
        <button class="btn btn-primary">
              Update Hole
              </button>
     </form>
          <td>
     <% if @umbrella2==true%>
     <i class="fa fa-umbrella fa-3x"></i>
     <% else %>
      <% end %>

     </td>
      </tr>


   <tr>
       <form action="/update_hole/<%= @round.holes.find_by(:number => 3).id %>" method="post">

        <!-- Hidden input for authenticity token to protect from forgery -->
        <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

         <td><input type="hidden" name="number" value="<%= @round.holes.find_by(:number => 3).number %>">
         3</td>
         <input type="hidden" name="round_id" value="<%= @round.holes.find_by(:number => 3).round_id %>">
        <td><%= select_tag :par, options_for_select(["3", "4", "5"], @round.holes.find_by(:number=>3).par) %></td>
        <td><%= select_tag :p1_score, options_for_select(["0","1","2","3","4","5","6","7","8","9"], @round.holes.find_by(:number=>3).p1_score) %></td>
        <td><%= select_tag :p2_score, options_for_select(["0","1","2","3","4","5","6","7","8","9"], @round.holes.find_by(:number=>3).p2_score) %></td>
        <td><%= select_tag :p3_score, options_for_select(["0","1","2","3","4","5","6","7","8","9"], @round.holes.find_by(:number=>3).p3_score) %></td>
        <td><%= select_tag :p4_score, options_for_select(["0","1","2","3","4","5","6","7","8","9"], @round.holes.find_by(:number=>3).p4_score) %></td>
        <td><%=@hole3_team%></td>
        <td><%=@hole3_man%></td>
        <td>
             <%= select_tag :ctp_player, options_for_select(["", @round.player_1, @round.player_2, @round.player_3, @round.player_4], @round.holes.find_by(:number=>3).ctp_player) %>
        </td>
        <td><div class="checkbox">
        <label for="roll">
          <input type="checkbox" id="roll" name="roll" value="1" <%= "checked" if @round.holes.find_by(:number => 3).roll %>>
        </label>
     </div>
      </td>
        <td><%=@hole3_points%></td>
        <td>
        <button class="btn btn-primary">
              Update Hole
              </button>
     </form>
     <td>
     <% if @umbrella3==true%>
     <i class="fa fa-umbrella fa-3x"></i>
     <% else %>
      <% end %>

     </td>
      </tr>

   <tr>
        <form action="/update_hole/<%= @round.holes.find_by(:number => 4).id %>" method="post">

        <!-- Hidden input for authenticity token to protect from forgery -->
        <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

         <td><input type="hidden" name="number" value="<%= @round.holes.find_by(:number => 4).number %>">
         4</td>
         <input type="hidden" name="round_id" value="<%= @round.holes.find_by(:number => 4).round_id %>">
         <td><%= select_tag :par, options_for_select(["3", "4", "5"], @round.holes.find_by(:number=>4).par) %></td>
        <td><%= select_tag :p1_score, options_for_select(["0","1","2","3","4","5","6","7","8","9"], @round.holes.find_by(:number=>4).p1_score) %></td>
        <td><%= select_tag :p2_score, options_for_select(["0","1","2","3","4","5","6","7","8","9"], @round.holes.find_by(:number=>4).p2_score) %></td>
        <td><%= select_tag :p3_score, options_for_select(["0","1","2","3","4","5","6","7","8","9"], @round.holes.find_by(:number=>4).p3_score) %></td>
        <td><%= select_tag :p4_score, options_for_select(["0","1","2","3","4","5","6","7","8","9"], @round.holes.find_by(:number=>4).p4_score) %></td>
        <td><%=@hole4_team%></td>
        <td><%=@hole4_man%></td>
        <td>
            <%= select_tag :ctp_player, options_for_select(["", @round.player_1, @round.player_2, @round.player_3, @round.player_4], @round.holes.find_by(:number=>4).ctp_player) %>
        </td>
        <td><div class="checkbox">
        <label for="roll">
          <input type="checkbox" id="roll" name="roll" value="1" <%= "checked" if @round.holes.find_by(:number => 4).roll %>>
        </label>
     </div>
      </td>
        <td><%=@hole4_points%></td>
        <td>
        <button class="btn btn-primary">
              Update Hole
              </button>
     </form>
     <td>
     <% if @umbrella4==true%>
     <i class="fa fa-umbrella fa-3x"></i>
     <% else %>
      <% end %>

     </td>
      </tr>

   <tr>
        <form action="/update_hole/<%= @round.holes.find_by(:number => 5).id %>" method="post">

        <!-- Hidden input for authenticity token to protect from forgery -->
        <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

         <td><input type="hidden" name="number" value="<%= @round.holes.find_by(:number => 5).number %>">
         5</td>
         <input type="hidden" name="round_id" value="<%= @round.holes.find_by(:number => 5).round_id %>">
         <td><%= select_tag :par, options_for_select(["3", "4", "5"], @round.holes.find_by(:number=>5).par) %></td>
        <td><%= select_tag :p1_score, options_for_select(["0","1","2","3","4","5","6","7","8","9"], @round.holes.find_by(:number=>5).p1_score) %></td>
        <td><%= select_tag :p2_score, options_for_select(["0","1","2","3","4","5","6","7","8","9"], @round.holes.find_by(:number=>5).p2_score) %></td>
        <td><%= select_tag :p3_score, options_for_select(["0","1","2","3","4","5","6","7","8","9"], @round.holes.find_by(:number=>5).p3_score) %></td>
        <td><%= select_tag :p4_score, options_for_select(["0","1","2","3","4","5","6","7","8","9"], @round.holes.find_by(:number=>5).p4_score) %></td>
        <td><%=@hole5_team%></td>
        <td><%=@hole5_man%></td>
        <td>
           <%= select_tag :ctp_player, options_for_select(["", @round.player_1, @round.player_2, @round.player_3, @round.player_4], @round.holes.find_by(:number=>5).ctp_player) %>
        </td>
        <td><div class="checkbox">
        <label for="roll">
          <input type="checkbox" id="roll" name="roll" value="1" <%= "checked" if @round.holes.find_by(:number => 5).roll %>>
        </label>
     </div>
      </td>
        <td><%=@hole5_points%></td>
        <td>
        <button class="btn btn-primary">
              Update Hole
              </button>
     </form>
     <td>
     <% if @umbrella5==true%>
     <i class="fa fa-umbrella fa-3x"></i>
     <% else %>
      <% end %>

     </td>
      </tr>

   <tr>
        <form action="/update_hole/<%= @round.holes.find_by(:number => 6).id %>" method="post">

        <!-- Hidden input for authenticity token to protect from forgery -->
        <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

         <td><input type="hidden" name="number" value="<%= @round.holes.find_by(:number => 6).number %>">
         6</td>
         <input type="hidden" name="round_id" value="<%= @round.holes.find_by(:number => 6).round_id %>">
         <td><%= select_tag :par, options_for_select(["3", "4", "5"], @round.holes.find_by(:number=>6).par) %></td>
        <td><%= select_tag :p1_score, options_for_select(["0","1","2","3","4","5","6","7","8","9"], @round.holes.find_by(:number=>6).p1_score) %></td>
        <td><%= select_tag :p2_score, options_for_select(["0","1","2","3","4","5","6","7","8","9"], @round.holes.find_by(:number=>6).p2_score) %></td>
        <td><%= select_tag :p3_score, options_for_select(["0","1","2","3","4","5","6","7","8","9"], @round.holes.find_by(:number=>6).p3_score) %></td>
        <td><%= select_tag :p4_score, options_for_select(["0","1","2","3","4","5","6","7","8","9"], @round.holes.find_by(:number=>6).p4_score) %></td>
        <td><%=@hole6_team%></td>
        <td><%=@hole6_man%></td>
        <td>
              <%= select_tag :ctp_player, options_for_select(["", @round.player_1, @round.player_2, @round.player_3, @round.player_4], @round.holes.find_by(:number=>6).ctp_player) %>
        </td>
        <td><div class="checkbox">
        <label for="roll">
          <input type="checkbox" id="roll" name="roll" value="1" <%= "checked" if @round.holes.find_by(:number => 6).roll %>>
        </label>
     </div>
      </td>
        <td><%=@hole6_points%></td>
        <td>
        <button class="btn btn-primary">
              Update Hole
              </button>
     </form>
     <td>
     <% if @umbrella6==true%>
     <i class="fa fa-umbrella fa-3x"></i>
     <% else %>
      <% end %>

     </td>
      </tr>

   <tr>
        <form action="/update_hole/<%= @round.holes.find_by(:number => 7).id %>" method="post">

        <!-- Hidden input for authenticity token to protect from forgery -->
        <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

         <td><input type="hidden" name="number" value="<%= @round.holes.find_by(:number => 7).number %>">
         7</td>
         <input type="hidden" name="round_id" value="<%= @round.holes.find_by(:number => 7).round_id %>">
        <td><%= select_tag :par, options_for_select(["3", "4", "5"], @round.holes.find_by(:number=>7).par) %></td>
        <td><%= select_tag :p1_score, options_for_select(["0","1","2","3","4","5","6","7","8","9"], @round.holes.find_by(:number=>7).p1_score) %></td>
        <td><%= select_tag :p2_score, options_for_select(["0","1","2","3","4","5","6","7","8","9"], @round.holes.find_by(:number=>7).p2_score) %></td>
        <td><%= select_tag :p3_score, options_for_select(["0","1","2","3","4","5","6","7","8","9"], @round.holes.find_by(:number=>7).p3_score) %></td>
        <td><%= select_tag :p4_score, options_for_select(["0","1","2","3","4","5","6","7","8","9"], @round.holes.find_by(:number=>7).p4_score) %></td>
        <td><%=@hole7_team%></td>
        <td><%=@hole7_man%></td>
        <td>
            <%= select_tag :ctp_player, options_for_select(["", @round.player_1, @round.player_2, @round.player_3, @round.player_4], @round.holes.find_by(:number=>7).ctp_player) %>
        </td>
        <td><div class="checkbox">
        <label for="roll">
          <input type="checkbox" id="roll" name="roll" value="1" <%= "checked" if @round.holes.find_by(:number => 7).roll %>>
        </label>
     </div>
      </td>
        <td><%=@hole7_points%></td>
        <td>
        <button class="btn btn-primary">
              Update Hole
              </button>
     </form>
     <td>
     <% if @umbrella7==true%>
     <i class="fa fa-umbrella fa-3x"></i>
     <% else %>
      <% end %>

     </td>
      </tr>


   <tr>
        <form action="/update_hole/<%= @round.holes.find_by(:number => 8).id %>" method="post">

        <!-- Hidden input for authenticity token to protect from forgery -->
        <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

         <td><input type="hidden" name="number" value="<%= @round.holes.find_by(:number => 8).number %>">
         8</td>
         <input type="hidden" name="round_id" value="<%= @round.holes.find_by(:number => 8).round_id %>">
        <td><%= select_tag :par, options_for_select(["3", "4", "5"], @round.holes.find_by(:number=>8).par) %></td>
        <td><%= select_tag :p1_score, options_for_select(["0","1","2","3","4","5","6","7","8","9"], @round.holes.find_by(:number=>8).p1_score) %></td>
        <td><%= select_tag :p2_score, options_for_select(["0","1","2","3","4","5","6","7","8","9"], @round.holes.find_by(:number=>8).p2_score) %></td>
        <td><%= select_tag :p3_score, options_for_select(["0","1","2","3","4","5","6","7","8","9"], @round.holes.find_by(:number=>8).p3_score) %></td>
        <td><%= select_tag :p4_score, options_for_select(["0","1","2","3","4","5","6","7","8","9"], @round.holes.find_by(:number=>8).p4_score) %></td>
        <td><%=@hole8_team%></td>
        <td><%=@hole8_man%></td>
        <td>
        <%= select_tag :ctp_player, options_for_select(["", @round.player_1, @round.player_2, @round.player_3, @round.player_4], @round.holes.find_by(:number=>8).ctp_player) %>
        </td>
        <td><div class="checkbox">
        <label for="roll">
          <input type="checkbox" id="roll" name="roll" value="1" <%= "checked" if @round.holes.find_by(:number => 8).roll %>>
        </label>
     </div>
      </td>
        <td><%=@hole8_points%></td>
        <td>
        <button class="btn btn-primary">
              Update Hole
              </button>
     </form>
     <td>
     <% if @umbrella8==true%>
     <i class="fa fa-umbrella fa-3x"></i>
     <% else %>
      <% end %>

     </td>
      </tr>


        <form action="/update_hole/<%= @round.holes.find_by(:number => 9).id %>" method="post">

        <!-- Hidden input for authenticity token to protect from forgery -->
        <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

         <td><input type="hidden" name="number" value="<%= @round.holes.find_by(:number => 9).number %>">
         9</td>
         <input type="hidden" name="round_id" value="<%= @round.holes.find_by(:number => 9).round_id %>">
        <td><%= select_tag :par, options_for_select(["3", "4", "5"], @round.holes.find_by(:number=>9).par) %></td>
        <td><%= select_tag :p1_score, options_for_select(["0","1","2","3","4","5","6","7","8","9"], @round.holes.find_by(:number=>9).p1_score) %></td>
        <td><%= select_tag :p2_score, options_for_select(["0","1","2","3","4","5","6","7","8","9"], @round.holes.find_by(:number=>9).p2_score) %></td>
        <td><%= select_tag :p3_score, options_for_select(["0","1","2","3","4","5","6","7","8","9"], @round.holes.find_by(:number=>9).p3_score) %></td>
        <td><%= select_tag :p4_score, options_for_select(["0","1","2","3","4","5","6","7","8","9"], @round.holes.find_by(:number=>9).p4_score) %></td>
        <td><%=@hole9_team%></td>
        <td><%=@hole9_man%></td>
        <td>
        <%= select_tag :ctp_player, options_for_select(["", @round.player_1, @round.player_2, @round.player_3, @round.player_4], @round.holes.find_by(:number=>9).ctp_player) %>
        </td>
        <td><div class="checkbox">
        <label for="roll">
          <input type="checkbox" id="roll" name="roll" value="1" <%= "checked" if @round.holes.find_by(:number => 9).roll %>>
        </label>
     </div>
      </td>
        <td><%=@hole9_points%></td>
        <td>
        <button class="btn btn-primary">
              Update Hole
              </button>
     </form>
     <td>
     <% if @umbrella9==true%>
     <i class="fa fa-umbrella fa-3x"></i>
     <% else %>
      <% end %>

     </td>
      </tr>



      <tr>
        <th>Hole</th>
        <th>Par</th>
        <th><%= @round.player_1%></th>
        <th><%= @round.player_2%></th>
        <th><%= @round.player_3%></th>
        <th><%= @round.player_4%></th>
        <th>Low Team</th>
        <th>Low Man</th>
        <th>Prox</th>
        <th>Roll</th>
        <th>Total Points</th>
        <th>Action</th>
        <th></th>
      </tr>



   <tr>
        <form action="/update_hole/<%= @round.holes.find_by(:number => 10).id %>" method="post">

        <!-- Hidden input for authenticity token to protect from forgery -->
        <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

         <td><input type="hidden" name="number" value="<%= @round.holes.find_by(:number => 10).number %>">
         10</td>
         <input type="hidden" name="round_id" value="<%= @round.holes.find_by(:number => 10).round_id %>">
         <td><%= select_tag :par, options_for_select(["3", "4", "5"], @round.holes.find_by(:number=>10).par) %></td>
        <td><%= select_tag :p1_score, options_for_select(["0","1","2","3","4","5","6","7","8","9"], @round.holes.find_by(:number=>10).p1_score) %></td>
        <td><%= select_tag :p2_score, options_for_select(["0","1","2","3","4","5","6","7","8","9"], @round.holes.find_by(:number=>10).p2_score) %></td>
        <td><%= select_tag :p3_score, options_for_select(["0","1","2","3","4","5","6","7","8","9"], @round.holes.find_by(:number=>10).p3_score) %></td>
        <td><%= select_tag :p4_score, options_for_select(["0","1","2","3","4","5","6","7","8","9"], @round.holes.find_by(:number=>10).p4_score) %></td>
        <td><%=@hole10_team%></td>
        <td><%=@hole10_man%></td>
        <td>
        <%= select_tag :ctp_player, options_for_select(["", @round.player_1, @round.player_2, @round.player_3, @round.player_4], @round.holes.find_by(:number=>10).ctp_player) %>
        </td>
        <td><div class="checkbox">
        <label for="roll">
          <input type="checkbox" id="roll" name="roll" value="1" <%= "checked" if @round.holes.find_by(:number => 10).roll %>>
        </label>
     </div>
      </td>
        <td><%=@hole10_points%></td>
        <td>
        <button class="btn btn-primary">
              Update Hole
              </button>
     </form>
     <td>
     <% if @umbrella10==true%>
     <i class="fa fa-umbrella fa-3x"></i>
     <% else %>
      <% end %>

     </td>
      </tr>

   <tr>
        <form action="/update_hole/<%= @round.holes.find_by(:number => 11).id %>" method="post">

        <!-- Hidden input for authenticity token to protect from forgery -->
        <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

         <td><input type="hidden" name="number" value="<%= @round.holes.find_by(:number => 11).number %>">
         11</td>
         <input type="hidden" name="round_id" value="<%= @round.holes.find_by(:number => 11).round_id %>">
         <td><%= select_tag :par, options_for_select(["3", "4", "5"], @round.holes.find_by(:number=>11).par) %></td>
        <td><%= select_tag :p1_score, options_for_select(["0","1","2","3","4","5","6","7","8","9"], @round.holes.find_by(:number=>11).p1_score) %></td>
        <td><%= select_tag :p2_score, options_for_select(["0","1","2","3","4","5","6","7","8","9"], @round.holes.find_by(:number=>11).p2_score) %></td>
        <td><%= select_tag :p3_score, options_for_select(["0","1","2","3","4","5","6","7","8","9"], @round.holes.find_by(:number=>11).p3_score) %></td>
        <td><%= select_tag :p4_score, options_for_select(["0","1","2","3","4","5","6","7","8","9"], @round.holes.find_by(:number=>11).p4_score) %></td>
        <td><%=@hole11_team%></td>
        <td><%=@hole11_man%></td>
        <td>
        <%= select_tag :ctp_player, options_for_select(["", @round.player_1, @round.player_2, @round.player_3, @round.player_4], @round.holes.find_by(:number=>11).ctp_player) %>
        </td>
        <td><div class="checkbox">
        <label for="roll">
          <input type="checkbox" id="roll" name="roll" value="1" <%= "checked" if @round.holes.find_by(:number => 11).roll %>>
        </label>
     </div>
      </td>
        <td><%=@hole11_points%></td>
        <td>
        <button class="btn btn-primary">
              Update Hole
              </button>
     </form>
     <td>
     <% if @umbrella11==true%>
     <i class="fa fa-umbrella fa-3x"></i>
     <% else %>
      <% end %>

     </td>
      </tr>

    <tr>
        <form action="/update_hole/<%= @round.holes.find_by(:number => 12).id %>" method="post">

        <!-- Hidden input for authenticity token to protect from forgery -->
        <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

         <td><input type="hidden" name="number" value="<%= @round.holes.find_by(:number => 12).number %>">
         12</td>
         <input type="hidden" name="round_id" value="<%= @round.holes.find_by(:number => 12).round_id %>">
      <td><%= select_tag :par, options_for_select(["3", "4", "5"], @round.holes.find_by(:number=>12).par) %></td>
        <td><%= select_tag :p1_score, options_for_select(["0","1","2","3","4","5","6","7","8","9"], @round.holes.find_by(:number=>12).p1_score) %></td>
        <td><%= select_tag :p2_score, options_for_select(["0","1","2","3","4","5","6","7","8","9"], @round.holes.find_by(:number=>12).p2_score) %></td>
        <td><%= select_tag :p3_score, options_for_select(["0","1","2","3","4","5","6","7","8","9"], @round.holes.find_by(:number=>12).p3_score) %></td>
        <td><%= select_tag :p4_score, options_for_select(["0","1","2","3","4","5","6","7","8","9"], @round.holes.find_by(:number=>12).p4_score) %></td>
        <td><%=@hole12_team%></td>
        <td><%=@hole12_man%></td>
        <td>
           <%= select_tag :ctp_player, options_for_select(["", @round.player_1, @round.player_2, @round.player_3, @round.player_4], @round.holes.find_by(:number=>12).ctp_player) %>
        </td>
        <td><div class="checkbox">
        <label for="roll">
          <input type="checkbox" id="roll" name="roll" value="1" <%= "checked" if @round.holes.find_by(:number => 12).roll %>>
        </label>
     </div>
      </td>
        <td><%=@hole12_points%></td>
        <td>
        <button class="btn btn-primary">
              Update Hole
              </button>
     </form>
     <td>
     <% if @umbrella12==true%>
     <i class="fa fa-umbrella fa-3x"></i>
     <% else %>
      <% end %>

     </td>
      </tr>

      <tr>
        <form action="/update_hole/<%= @round.holes.find_by(:number => 13).id %>" method="post">

        <!-- Hidden input for authenticity token to protect from forgery -->
        <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

         <td><input type="hidden" name="number" value="<%= @round.holes.find_by(:number => 13).number %>">
         13</td>
         <input type="hidden" name="round_id" value="<%= @round.holes.find_by(:number => 13).round_id %>">
     <td><%= select_tag :par, options_for_select(["3", "4", "5"], @round.holes.find_by(:number=>13).par) %></td>
        <td><%= select_tag :p1_score, options_for_select(["0","1","2","3","4","5","6","7","8","9"], @round.holes.find_by(:number=>13).p1_score) %></td>
        <td><%= select_tag :p2_score, options_for_select(["0","1","2","3","4","5","6","7","8","9"], @round.holes.find_by(:number=>13).p2_score) %></td>
        <td><%= select_tag :p3_score, options_for_select(["0","1","2","3","4","5","6","7","8","9"], @round.holes.find_by(:number=>13).p3_score) %></td>
        <td><%= select_tag :p4_score, options_for_select(["0","1","2","3","4","5","6","7","8","9"], @round.holes.find_by(:number=>13).p4_score) %></td>
        <td><%=@hole13_team%></td>
        <td><%=@hole13_man%></td>
        <td>
          <%= select_tag :ctp_player, options_for_select(["", @round.player_1, @round.player_2, @round.player_3, @round.player_4], @round.holes.find_by(:number=>13).ctp_player) %>
        </td>
        <td><div class="checkbox">
        <label for="roll">
          <input type="checkbox" id="roll" name="roll" value="1" <%= "checked" if @round.holes.find_by(:number => 13).roll %>>
        </label>
     </div>
      </td>
        <td><%=@hole13_points%></td>
        <td>
        <button class="btn btn-primary">
              Update Hole
              </button>
     </form>
     <td>
     <% if @umbrella13==true%>
     <i class="fa fa-umbrella fa-3x"></i>
     <% else %>
      <% end %>

     </td>
      </tr>


    <tr>
        <form action="/update_hole/<%= @round.holes.find_by(:number => 14).id %>" method="post">

        <!-- Hidden input for authenticity token to protect from forgery -->
        <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

         <td><input type="hidden" name="number" value="<%= @round.holes.find_by(:number => 14).number %>">
         14</td>
         <input type="hidden" name="round_id" value="<%= @round.holes.find_by(:number => 14).round_id %>">
      <td><%= select_tag :par, options_for_select(["3", "4", "5"], @round.holes.find_by(:number=>14).par) %></td>
        <td><%= select_tag :p1_score, options_for_select(["0","1","2","3","4","5","6","7","8","9"], @round.holes.find_by(:number=>14).p1_score) %></td>
        <td><%= select_tag :p2_score, options_for_select(["0","1","2","3","4","5","6","7","8","9"], @round.holes.find_by(:number=>14).p2_score) %></td>
        <td><%= select_tag :p3_score, options_for_select(["0","1","2","3","4","5","6","7","8","9"], @round.holes.find_by(:number=>14).p3_score) %></td>
        <td><%= select_tag :p4_score, options_for_select(["0","1","2","3","4","5","6","7","8","9"], @round.holes.find_by(:number=>14).p4_score) %></td>
        <td><%=@hole14_team%></td>
        <td><%=@hole14_man%></td>
        <td>
          <%= select_tag :ctp_player, options_for_select(["", @round.player_1, @round.player_2, @round.player_3, @round.player_4], @round.holes.find_by(:number=>14).ctp_player) %>
        </td>
        <td><div class="checkbox">
        <label for="roll">
          <input type="checkbox" id="roll" name="roll" value="1" <%= "checked" if @round.holes.find_by(:number => 14).roll %>>
        </label>
     </div>
      </td>
        <td><%=@hole14_points%></td>
        <td>
        <button class="btn btn-primary">
              Update Hole
              </button>
     </form>
     <td>
     <% if @umbrella14==true%>
     <i class="fa fa-umbrella fa-3x"></i>
     <% else %>
      <% end %>

     </td>
      </tr>


    <tr>
      <form action="/update_hole/<%= @round.holes.find_by(:number => 15).id %>" method="post">

        <!-- Hidden input for authenticity token to protect from forgery -->
        <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

         <td><input type="hidden" name="number" value="<%= @round.holes.find_by(:number => 15).number %>">
         15</td>
         <input type="hidden" name="round_id" value="<%= @round.holes.find_by(:number => 15).round_id %>">
         <td><%= select_tag :par, options_for_select(["3", "4", "5"], @round.holes.find_by(:number=>15).par) %></td>
        <td><%= select_tag :p1_score, options_for_select(["0","1","2","3","4","5","6","7","8","9"], @round.holes.find_by(:number=>15).p1_score) %></td>
        <td><%= select_tag :p2_score, options_for_select(["0","1","2","3","4","5","6","7","8","9"], @round.holes.find_by(:number=>15).p2_score) %></td>
        <td><%= select_tag :p3_score, options_for_select(["0","1","2","3","4","5","6","7","8","9"], @round.holes.find_by(:number=>15).p3_score) %></td>
        <td><%= select_tag :p4_score, options_for_select(["0","1","2","3","4","5","6","7","8","9"], @round.holes.find_by(:number=>15).p4_score) %></td>
        <td><%=@hole15_team%></td>
        <td><%=@hole15_man%></td>
        <td>
          <%= select_tag :ctp_player, options_for_select(["", @round.player_1, @round.player_2, @round.player_3, @round.player_4], @round.holes.find_by(:number=>15).ctp_player) %>
        </td>
        <td><div class="checkbox">
        <label for="roll">
          <input type="checkbox" id="roll" name="roll" value="1" <%= "checked" if @round.holes.find_by(:number => 15).roll %>>
        </label>
     </div>
      </td>
        <td><%=@hole15_points%></td>
        <td>
        <button class="btn btn-primary">
              Update Hole
              </button>
     </form>
     <td>
     <% if @umbrella15==true%>
     <i class="fa fa-umbrella fa-3x"></i>
     <% else %>
      <% end %>

     </td>
      </tr>


    <tr>
        <form action="/update_hole/<%= @round.holes.find_by(:number => 16).id %>" method="post">

        <!-- Hidden input for authenticity token to protect from forgery -->
        <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

         <td><input type="hidden" name="number" value="<%= @round.holes.find_by(:number => 16).number %>">
         16</td>
         <input type="hidden" name="round_id" value="<%= @round.holes.find_by(:number => 16).round_id %>">
         <td><%= select_tag :par, options_for_select(["3", "4", "5"], @round.holes.find_by(:number=>16).par) %></td>
        <td><%= select_tag :p1_score, options_for_select(["0","1","2","3","4","5","6","7","8","9"], @round.holes.find_by(:number=>16).p1_score) %></td>
        <td><%= select_tag :p2_score, options_for_select(["0","1","2","3","4","5","6","7","8","9"], @round.holes.find_by(:number=>16).p2_score) %></td>
        <td><%= select_tag :p3_score, options_for_select(["0","1","2","3","4","5","6","7","8","9"], @round.holes.find_by(:number=>16).p3_score) %></td>
        <td><%= select_tag :p4_score, options_for_select(["0","1","2","3","4","5","6","7","8","9"], @round.holes.find_by(:number=>16).p4_score) %></td>
        <td><%=@hole16_team%></td>
        <td><%=@hole16_man%></td>
        <td>
          <%= select_tag :ctp_player, options_for_select(["", @round.player_1, @round.player_2, @round.player_3, @round.player_4], @round.holes.find_by(:number=>16).ctp_player) %>
        </td>
        <td><div class="checkbox">
        <label for="roll">
          <input type="checkbox" id="roll" name="roll" value="1" <%= "checked" if @round.holes.find_by(:number => 16).roll %>>
        </label>
     </div>
      </td>
        <td><%=@hole16_points%></td>
        <td>
        <button class="btn btn-primary">
              Update Hole
              </button>
     </form>
     <td>
     <% if @umbrella16==true%>
     <i class="fa fa-umbrella fa-3x"></i>
     <% else %>
      <% end %>

     </td>
      </tr>

    <tr>
        <form action="/update_hole/<%= @round.holes.find_by(:number => 17).id %>" method="post">

        <!-- Hidden input for authenticity token to protect from forgery -->
        <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

         <td><input type="hidden" name="number" value="<%= @round.holes.find_by(:number => 17).number %>">
         17</td>
         <input type="hidden" name="round_id" value="<%= @round.holes.find_by(:number => 17).round_id %>">
     <td><%= select_tag :par, options_for_select(["3", "4", "5"], @round.holes.find_by(:number=>17).par) %></td>
        <td><%= select_tag :p1_score, options_for_select(["0","1","2","3","4","5","6","7","8","9"], @round.holes.find_by(:number=>17).p1_score) %></td>
        <td><%= select_tag :p2_score, options_for_select(["0","1","2","3","4","5","6","7","8","9"], @round.holes.find_by(:number=>17).p2_score) %></td>
        <td><%= select_tag :p3_score, options_for_select(["0","1","2","3","4","5","6","7","8","9"], @round.holes.find_by(:number=>17).p3_score) %></td>
        <td><%= select_tag :p4_score, options_for_select(["0","1","2","3","4","5","6","7","8","9"], @round.holes.find_by(:number=>17).p4_score) %></td>
        <td><%=@hole17_team%></td>
        <td><%=@hole17_man%></td>
        <td>
          <%= select_tag :ctp_player, options_for_select(["", @round.player_1, @round.player_2, @round.player_3, @round.player_4], @round.holes.find_by(:number=>17).ctp_player) %>
        </td>
        <td><div class="checkbox">
        <label for="roll">
          <input type="checkbox" id="roll" name="roll" value="1" <%= "checked" if @round.holes.find_by(:number => 17).roll %>>
        </label>
     </div>
      </td>
        <td><%=@hole17_points%></td>
        <td>
        <button class="btn btn-primary">
              Update Hole
              </button>
     </form>
     <td>
     <% if @umbrella17==true%>
     <i class="fa fa-umbrella fa-3x"></i>
     <% else %>
      <% end %>

     </td>
      </tr>


    <tr>
        <form action="/update_hole/<%= @round.holes.find_by(:number => 18).id %>" method="post">

        <!-- Hidden input for authenticity token to protect from forgery -->
        <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

         <td><input type="hidden" name="number" value="<%= @round.holes.find_by(:number => 18).number %>">
         18</td>
         <input type="hidden" name="round_id" value="<%= @round.holes.find_by(:number => 18).round_id %>">
         <td><%= select_tag :par, options_for_select(["3", "4", "5"], @round.holes.find_by(:number=>18).par) %></td>
        <td><%= select_tag :p1_score, options_for_select(["0","1","2","3","4","5","6","7","8","9"], @round.holes.find_by(:number=>18).p1_score) %></td>
        <td><%= select_tag :p2_score, options_for_select(["0","1","2","3","4","5","6","7","8","9"], @round.holes.find_by(:number=>18).p2_score) %></td>
        <td><%= select_tag :p3_score, options_for_select(["0","1","2","3","4","5","6","7","8","9"], @round.holes.find_by(:number=>18).p3_score) %></td>
        <td><%= select_tag :p4_score, options_for_select(["0","1","2","3","4","5","6","7","8","9"], @round.holes.find_by(:number=>18).p4_score) %></td>
        <td><%=@hole18_team%></td>
        <td><%=@hole18_man%></td>
        <td>
          <%= select_tag :ctp_player, options_for_select(["", @round.player_1, @round.player_2, @round.player_3, @round.player_4], @round.holes.find_by(:number=>18).ctp_player) %>
        </td>
        <td><div class="checkbox">
        <label for="roll">
          <input type="checkbox" id="roll" name="roll" value="1" <%= "checked" if @round.holes.find_by(:number => 18).roll %>>
        </label>
     </div>
      </td>
        <td><%=@hole18_points%></td>
        <td>
        <button class="btn btn-primary">
              Update Hole
              </button>
     </form>
     <td>
     <% if @umbrella18==true%>
     <i class="fa fa-umbrella fa-3x"></i>
     <% else %>
      <% end %>

     </td>
      </tr>



    </table>
  </div>
</div>

