="page-header">
  <h2><%= @round.player_1 %> and <%= @round.player_2 %> are <%= @standing %> <%= @match_score %>.

    </h2>
  <h5><%= @round.course_name %>, <%= @round.played_on %></h5>
    </div>



<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">

      <div class="row">
      <div class="col-md-2" >Player</div>
      <div class="col-md-2" align="center">Front</div>
      <div class="col-md-2" align="center">Back</div>
      <div class="col-md-2" align="center">Total</div>
      <div class="col-md-2" align="right">Relative to Par</div>
      </div>

      <div class="row">
      <div class="col-md-2" ><%= @round.player_1 %></div>
      <div class="col-md-2" align="center"><%=@p1_front%></div>
      <div class="col-md-2" align="center"><%=@p1_back%></div>
      <div class="col-md-2" align="center"><%=@p1_total%></div>
      <div class="col-md-2" align="right"><%=@p1_total-@course_par%></div>
      </div>

      <div class="row">
      <div class="col-md-2"><%= @round.player_2 %></div>
      <div class="col-md-2" align="center"><%=@p2_front%></div>
      <div class="col-md-2" align="center"><%=@p2_back%></div>
      <div class="col-md-2" align="center"><%=@p2_total%></div>
      <div class="col-md-2" align="right"><%=@p2_total-@course_par%></div>
      </div>

      <div class="row">
      <div class="col-md-2"><%= @round.player_3 %></div>
      <div class="col-md-2" align="center"><%=@p3_front%></div>
      <div class="col-md-2" align="center"><%=@p3_back%></div>
      <div class="col-md-2" align="center"><%=@p3_total%></div>
      <div class="col-md-2" align="right"><%=@p3_total-@course_par%></div>
      </div>

      <div class="row">
      <div class="col-md-2"><%= @round.player_4 %></div>
      <div class="col-md-2" align="center"><%=@p4_front%></div>
      <div class="col-md-2" align="center"><%=@p4_back%></div>
      <div class="col-md-2" align="center"><%=@p4_total%></div>
      <div class="col-md-2" align="right"><%=@p4_total-@course_par%></div>
      </div>

      <div class="row">
      </div>


    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/rounds/<%= @round.id %>/edit" class="btn btn-success">
        Holes
      </a>
      </div>

  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
       <th>Round</th>
        <th>Hole ID</th>
        <th>Number</th>
        <th><a href="/rounds/<%= @round.id %>/edit" class="btn btn-danger">
        Par
      </a></th>
        <th><%= @round.player_1%></th>
        <th><%= @round.player_2%></th>
        <th><%= @round.player_3%></th>
        <th><%= @round.player_4%></th>
        <th>Roll</th>
        <th>Prox</th>
        <th>Actions</th>
      </tr>


      <% @round.holes.each do |hole| %>
      <tr>
        <td><%= hole.round_id %></td>
        <td><%= hole.id %></td>
        <td><%= hole.number %></td>
        <td><%= hole.par %></td>
        <td><%= hole.p1_score %></td>
        <td><%= hole.p2_score %></td>
        <td><%= hole.p3_score %></td>
        <td><%= hole.p4_score %></td>
        <td><%= hole.roll %></td>
        <td><%= hole.ctp_player %></td>
        <td>
     <a href="/holes/<%= hole.id %>/edit" class="btn btn-primary">Edit</a>

        <%end%>



        </td>
      </tr>


    </table>
  </div>
</div>




<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Number</th>
        <th>Low Team</th>
        <th>Low Man</th>
        <th>Roll</th>
        <th>Prox</th>
        <th>Total Points</th>
      </tr>
   <tr>
        <th>1</th>
        <th><%=@hole1_team%></th>
        <th><%=@hole1_man%></th>
        <th>Roll</th>
        <th>Prox</th>
        <th><%=@hole1_points%></th>
      </tr>

   <tr>
        <th>2</th>
        <th><%=@hole2_team%></th>
        <th><%=@hole2_man%></th>
        <th>Roll</th>
        <th>Prox</th>
        <th><%=@hole2_points%></th>
  </tr>
        <tr>
        <th>3</th>
        <th><%=@hole3_team%></th>
        <th><%=@hole3_man%></th>
        <th>Roll</th>
        <th>Prox</th>
        <th><%=@hole3_points%></th>
      </tr>

  <tr>
        <th>4</th>
        <th><%=@hole4_team%></th>
        <th><%=@hole4_man%></th>
        <th>Roll</th>
        <th>Prox</th>
        <th><%=@hole4_points%></th>
      </tr>

  <tr>
        <th>5</th>
        <th><%=@hole5_team%></th>
        <th><%=@hole5_man%></th>
        <th>Roll</th>
        <th>Prox</th>
        <th><%=@hole5_points%></th>
      </tr>

  <tr>
        <th>6</th>
        <th><%=@hole6_team%></th>
        <th><%=@hole6_man%></th>
        <th>Roll</th>
        <th>Prox</th>
        <th><%=@hole6_points%></th>
      </tr>

  <tr>
        <th>7</th>
        <th><%=@hole7_team%></th>
        <th><%=@hole7_man%></th>
        <th>Roll</th>
        <th>Prox</th>
        <th><%=@hole7_points%></th>
      </tr>

  <tr>
        <th>8</th>
        <th><%=@hole8_team%></th>
        <th><%=@hole8_man%></th>
        <th>Roll</th>
        <th>Prox</th>
        <th><%=@hole8_points%></th>
      </tr>

  <tr>
        <th>9</th>
        <th><%=@hole9_team%></th>
        <th><%=@hole9_man%></th>
        <th>Roll</th>
        <th>Prox</th>
        <th><%=@hole9_points%></th>
      </tr>

  <tr>
        <th>10</th>
        <th><%=@hole10_team%></th>
        <th><%=@hole10_man%></th>
        <th>Roll</th>
        <th>Prox</th>
        <th><%=@hole10_points%></th>
      </tr>

  <tr>
        <th>11</th>
        <th><%=@hole11_team%></th>
        <th><%=@hole11_man%></th>
        <th>Roll</th>
        <th>Prox</th>
        <th><%=@hole11_points%></th>
      </tr>

  <tr>
        <th>12</th>
        <th><%=@hole12_team%></th>
        <th><%=@hole12_man%></th>
        <th>Roll</th>
        <th>Prox</th>
        <th><%=@hole12_points%></th>
      </tr>

  <tr>
        <th>13</th>
        <th><%=@hole13_team%></th>
        <th><%=@hole13_man%></th>
        <th>Roll</th>
        <th>Prox</th>
        <th><%=@hole13_points%></th>
      </tr>

  <tr>
        <th>14</th>
        <th><%=@hole14_team%></th>
        <th><%=@hole14_man%></th>
        <th>Roll</th>
        <th>Prox</th>
        <th><%=@hole14_points%></th>
      </tr>

  <tr>
        <th>15</th>
        <th><%=@hole15_team%></th>
        <th><%=@hole15_man%></th>
        <th>Roll</th>
        <th>Prox</th>
        <th><%=@hole15_points%></th>
      </tr>

  <tr>
        <th>16</th>
        <th><%=@hole16_team%></th>
        <th><%=@hole16_man%></th>
        <th>Roll</th>
        <th>Prox</th>
        <th><%=@hole16_points%></th>
      </tr>

  <tr>
        <th>17</th>
        <th><%=@hole17_team%></th>
        <th><%=@hole17_man%></th>
        <th>Roll</th>
        <th>Prox</th>
        <th><%=@hole17_points%></th>
      </tr>

  <tr>
        <th>18</th>
        <th><%=@hole18_team%></th>
        <th><%=@hole18_man%></th>
        <th>Roll</th>
        <th>Prox</th>
        <th><%=@hole18_points%></th>
      </tr>




        </td>
      </tr>


    </table>
  </div>
</div>

